<ng-container>
    <div class="header">
        <div class="header__infoSection">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About us</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">Help</a></li>
            </ul>
        </div>
        <div class="header__logoSection">
            <a href="">
                <img src="" alt="NoteBlock logo">
            </a>
        </div>
        <div class="header__loggingSection">
            <ul>
                <li><a href="">Login</a></li>
                <li><a href="">Register</a></li>
            </ul>
        </div>
    </div>
</ng-container>
